{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">{{ 'page.create.task.button.add'|trans }}</button>
        {{ form_end(form) }}

        <a href="{{ path('task_list') }}" class="btn btn-primary">{{ 'page.create.task.button.return.task.list'|trans }}</a>
    </div>
{% endblock %}
